/* Coding Experiences Page */

/* Web Projs */
#webprojs {
  border-radius: 4px;
  border: 2px solid black;
}

#webprojs * {
  text-align: left;
  font-family: "Oxygen", sans-serif;
}

#webprojs #navrow {
  border-bottom: 1px solid black;
}

#navbtnholder {
  border-right: 1px solid black;
}

#webleftbtn:hover,
#webrightbtn:hover {
  cursor: pointer;
}

#exitbtnholder {
  border-left: 1px solid black;
}

#sitewrap {
  padding: 5px;
  border-radius: 4px;
  border: 2px solid black;
  background-color: white;
}

#webprojs {
  border: 2px solid black;
  background-color: white;
}

#webprojs #navrow {
  border-bottom: 1px solid black;
}

#webprojs path {
  fill: black;
}

#webNav {
  border-bottom: 2px solid black;
}

#webBtns {
  border-right: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

#webURL {
  padding-left: 5px;
}

#webContent {
  padding-left: 10px;
  padding-right: 10px;
}

/* Unity */
#__ReactUnityWebGL_1__ {
  border-radius: 4px;
  height: 50vh !important;
  width: 38vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#__ReactUnityWebGL_1__ canvas {
  border-radius: 4px;
}

#__ReactUnityWebGL_1__ div {
  border: 2px solid black !important;
  background-color: white !important;
  color: black;
}
#__ReactUnityWebGL_1__ div button {
  display: none;
}

/* EcoStore */
#ecostoreimg img {
  max-height: 70vh !important;
}

#ecostoreimg {
  text-align: center;
}

.ecostoreArrow {
  width: 10px;
}

.ecostoreArrow:hover {
  cursor: pointer;
}

/* Work Tiles */
#workTilesWrapper {
  display: flex;
  justify-content: space-between;
}

#workTile1,
#workTile2 {
  width: 43%;
  border-radius: 5px;
  padding: 90px 30px;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: transform 0.2s;
}

#workTile1.expanded,
#workTile2.expanded {
  padding: 30px 30px;
}

#workTile1:hover,
#workTile2:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#workTile1 {
  background-image: url("../Imgs/sanfran.jpg");
  background-size: cover;
}

#workTile2 {
  background-image: url("../Imgs/toronto.jpg");
  background-size: cover;
}

.workTitle {
  font-size: 32px;
  font-weight: bolder;
}

.workCaption {
  font-size: 18px;
}

/* MEDIA QUERIES FOR SCALING */
@media (max-width: 1200px) {
  #workTile1,
  #workTile2 {
    width: 42%;
  }
}

@media (max-width: 1000px) {
  #workTile1,
  #workTile2 {
    width: 40%;
  }
}

@media (max-width: 800px) {
  #workTile1,
  #workTile2 {
    width: 38%;
  }
}

@media (max-width: 700px) {
  #workTile1,
  #workTile2 {
    width: 90%;
    margin-bottom: 10px;
  }

  #workTilesWrapper {
    display: block;
  }
}

@media (max-width: 460px) {
  #workTile1,
  #workTile2 {
    padding: 50px 20px;
  }
}
